<ion-content padding>
  <ion-grid class="vertical-align-content">
    <ion-row>
      <ion-col>
        <ion-item no-lines>
          <ion-img src="assets/logo.png" class="logo"></ion-img>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input [(ngModel)]="auth.username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-icon slot="end" [name]="iconPass" (click)="showPass()"></ion-icon>
          <ion-input [type]="inputType" [(ngModel)]="auth.password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Recordarme</ion-label>
          <ion-checkbox slot="end" color="secondary" [(ngModel)]="rememberme"></ion-checkbox>
        </ion-item>

        <ion-button expand="full" (click)="login()">Ingresar</ion-button>
        <ion-button color="light" expand="full" (click)="createAccount()">Crear Cuenta</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
