<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Da Vinci</h2>
        <p>{{davinci}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Tesla</h2>
        <ion-button (click)="turn()">{{buttonText}}</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
