<ion-header>
  <ion-toolbar text-center>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
        &#160;Crear Cuenta
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombres</ion-label>
      <ion-input [(ngModel)]="user.firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input [(ngModel)]="user.lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-icon slot="end" [name]="iconPass" (click)="showPass()"></ion-icon>
      <ion-input [type]="inputType" [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirme la contraseña</ion-label>
      <ion-input [type]="inputType" [(ngModel)]="confirmPass"></ion-input>
    </ion-item>

    <ion-button color="success" expand="full" (click)="createUser()" [disabled]="disableBtn">Crear Cuenta</ion-button>
  </ion-list>
        <!-- <ion-item no-lines>
          <ion-img src="assets/logo.png" class="logo"></ion-img>
        </ion-item> -->
</ion-content>
